@model Electrician_for_Home_Services.Models.Booking

@{
    ViewBag.Title = "Delete";
}

<div class="UpDownPadding SidePadding">
    <h2>Delete</h2>
    <div class="center">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Booking</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BookingToUsername)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookingToUsername)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BookingByUsername)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BookingByUsername)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Date)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Date)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsAccepted)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsAccepted)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CancelledBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CancelledBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CancellationCause)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CancellationCause)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>